* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

.container {
    width: 100%;
    max-width: 1140px;
    margin: 0px auto;
    padding: 0px 20px;
    position: relative;
}

.txt-cntr {
    text-align: center;
}

.aln-cntr {
    align-self: center;
}

.aln-end {
    align-self: end;
}

.row {
    display: flex;
}

.grid-row {
    display: flex;
    flex-wrap: wrap;
}

.col-1 {
    flex: 8.33%;
}

.col-2 {
    flex: 16.66%;
}

.col-3 {
    flex: 25%;
}

.col-4 {
    flex: 33.33%;
}

.col-5 {
    flex: 41.66%;
}

.col-6 {
    flex: 50%;
}

.col-7 {
    flex: 58.33%;
}

.col-8 {
    flex: 66.66%;
}

.col-9 {
    flex: 75%;
}

.col-10 {
    flex: 83.33%;
}

.col-11 {
    flex: 91.66%;
}

.col-12 {
    flex: 100%;
}

.mtb-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.mtb-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mtb-30 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.mtb-40 {
    margin-top: 40px;
    margin-bottom: 40px;
}

.ptb-10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ptb-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ptb-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ptb-30 {
    padding-top: 30px;
    padding-bottom: 30px;
}

.ptb-40 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.ptb-50 {
    padding-top: 50px;
    padding-bottom: 50px;
}

.ptb-60 {
    padding-top: 60px;
    padding-bottom: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.p-10 {
    padding: 10px;
}

.p-20 {
    padding: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-10 {
    margin-bottom: 10px;
}